{% extends 'layout.html'%}

{% block body%}
    <h1>input</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <input type="file" name="file">
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <select id="diagrams" name="diagrams">
            <option value="class">Class Diagram</option>
            <option value="usecase">Usecase Diagram</option>
        </select>
        <input type="submit" value="Upload"> 
    </form>  
{%endblock%}